/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
}

/* HEADER */
header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo span {
    font-weight: bold;
    font-size: 14px;
}

nav a {
    margin-left: 35px;
    text-decoration: none;
    color: #ffffffb7;
    font-size: 14px;
    transition: 0.3s;
}

nav a:hover {
    color: #fff;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: url("headphones-bg.jpg") no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(20,20,20,0.4), #0f1a27);
}

/* TEXT CONTENT */
.content {
    max-width: 750px;
    z-index: 5;
    padding: 20px;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 700;
}

.content h3 {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 400;
}

/* CTA BUTTON */
.cta-btn {
    background: #ff5b73;
    padding: 13px 35px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    margin-bottom: 30px;
    display: inline-block;
    transition: 0.3s;
}

.cta-btn:hover {
    background: #ff4a65;
}

/* PARAGRAPH */
.description {
    margin-top: 30px;
    font-size: 14px;
    color: #ffffffd7;
    line-height: 1.6;
}
